/*  your css code here. If applicable */
.contain{
	Background-color:#f5f5f5;
	padding:30px;
	}
.testimonial{
	padding:5px;
	border:2px solid black;
	background:white;
	margin-top:10px;
}
p{
	font-family:asterisks;
}
span{
	margin-left:30px;
	text-align: right;
	font-style:italic;
}